<footer class="text-white bg-black flex flex-col">
  <div class="container flex xl:flex-row flex-col justify-between mx-0 min-w-full xl:px-[10vw] xl:my-16">
    <div>
      <p class="font-gilroy-bold xl:mt-0 mt-10 text-lg">Address</p>
      <p class="font-gilroy mt-5 text-lg">
        Carrer de Torres i Amat, 21 3er<br>
        08001, Barcelona
      </p>
    </div>
    <div class="w-[200px] xl:m-0 my-8">
      <p class="font-gilroy-bold text-lg">Follow us</p>
    </div>
  </div>
  <div class="container flex xl:flex-row flex-col justify-between border-t border-gray-300 mx-0 min-w-full xl:px-[10vw]">
    <div class="xl:my-16 mt-10">
      <a class="font-gilroy-bold text-lg" href="#">Privacy policy</a>
      <a class="font-gilroy-bold pl-6 text-lg" href="#">Legal Notice</a>
    </div>
    <div class="xl:my-16 my-10">
      <a class="group font-gilroy text-lg" href="https://mortensen.cat" target="_blank" rel="noopener" title="Mortensen: digital agency in Barcelona. UX/UI Design and development">Made with <i class="transition roman group-hover:text-[red]">♥</i> by <strong class="font-gilroy-bold">Mortensen</strong></a>
    </div>
  </div>
</footer>
