<section>
  <div class="container xl:mt-24 mt-16 xl:mb-14 flex xl:flex-row xl:gap-10 flex-col xl:px-32 sm:p-0">
    <div class="xl:w-1/2 w-full">
      <h1 class="font-gilroy-bold mb-5 text-center text-xl xl:text-2xl text-gray-300  xl:hidden block">Content title</h1>
      <div class="w-full h-full ">
        <img src="./assets/images/image2.jpeg" alt="dolphins" class="h-full w-auto object-cover rounded">
      </div>
    </div>

    <div class="xl:w-1/2 w-full my-8 flex flex-col justify-evenly items-center xl:items-start">
      <h1 class="font-gilroy-bold text-center text-xl xl:text-2xl text-gray-300 xl:block hidden xl:text-left ">Content title</h1>
      <p class="xl:mt-5 font-gilroy xl:text-left text-center text-lg text-gray-200">
        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.<br>
        <br>
        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
      </p >
      <a href="#" class=" mt-5 px-6 py-3 bg-gray-300 rounded font-gilroy-bold text-sm text-gray-100 text-center hover:scale-95 hover:bg-black transition ease-in-out">Buy now</a>
    </div>

  </div>
</section>
